/* =================================================================
                            Style de base
================================================================= */
@import url(_normalize.css);

:root {
    --background-color-main: #FFFDF7;
    --background-color-second: #F7F1EC;
    --background-color-green: #E8F0E3;
    --background-color-brown: #EBE3D3;
    --background-color-footer: #FFFFFF;

    --title-color: #497555;

    --button-hover-color-one: #333333;

    --button-color: #565656;
    --button-hover-color-two: #000000;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    margin: 0;
    height: 100%;
    color: black;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1280px;
    margin: auto;
    background-color: var(--background-color-main);
}

.main-content {
    flex-grow: 1;
}

main {
    flex: 1;
}


a {
    color: #333; 
    text-decoration: none; 
} 

a:visited {
    color: none;
}

ul {
    list-style-type: none;
}

ul li>a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
}
.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button-type-one {
    background-color: var(--button-color);
    color: white;
    width: 102%;
    padding: 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.7s;
}

.button-type-one:hover {
    background-color: var(--button-hover-color-two);
}


.button-type-two {
    background-color: var(--background-color-main);
    color: #333;
    width: 100%;
    padding: 37px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s;
}

.button-type-two:hover {
    color: white;
    background-color: var(--button-hover-color-one);
}

/* =================================================================
                            Navigation
================================================================= */

#website-title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: larger;
    color: var(--title-color);
}

#website-logo {
    background: #497555;
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
    font-family: 'Playfair Display';
    margin: 10px;
    font-size: large;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: rgb(238, 238, 238) 1.5px solid;
}

.nav-right>ul {
    display: flex;
    flex-direction: row;
}

.nav-right li {
    padding-right: 4em;
}

.nav-left {
    display: flex;
    align-items: center;
    padding-left: 5em;
}

/* =================================================================
                            Section "Bienvenue"
================================================================= */

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    background-color: var(--background-color-green);
    overflow: hidden;
}

.welcome-left {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding-left: 5%;
}

.welcome-left-content {
    max-width: 400px; 
    text-align: left;
    padding: 20px; 
}

.welcome-left h1 {
    font-size: 4rem; 
    color: #333; 
    line-height: 1.2; 
    font-weight: 500;
}

.welcome-left p {
    font-size: 1.2rem;
    color: #555; 
    line-height: 1.6; 
    margin-top: 20px;
}

.welcome-right {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    overflow: hidden;
}

.welcome-right .welcome-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    max-height: 100vh;
}

/* =================================================================
                            Section "Nos Produits"
================================================================= */

.product-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 35px;
    padding-left: 7em;
}


.product-cards-container {
    display: flex;
    flex-wrap: wrap;   
    flex-direction: row;
    text-align: center;
}

.product-card { 
    flex-grow: 1;
    width: 33%;
    min-height: 100%;
    box-sizing: border-box;
}

.product-card-picture {
    width: 100%;
    height: auto; 
    max-height: 500px;
    object-fit: cover;
}

.product-info {
    min-height: 200px;
    box-sizing: border-box;
}

.product-card-title {
    font-size: 16px;
    font-weight: 600;
}

.product-card-description {
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

.product-card-price {
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0;
}

.product-card-button {
    width: 100%; 
    background-color: var(--background-color-main);
    border: none; 
    padding: 37px; 
    cursor: pointer; 
    font-size: 14px; 
    margin-top: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-button:hover {
    background-color: var(--product-hover-color); 
    color: var(--background-color-second); 
    transition: 0.5s;
}


/* =================================================================
                            Section "Notre conviction"
================================================================= */

.convictions-container {
    display: flex;
    height: 80vh; 
}

.convictions-left {
    display: flex;
    align-items: center; 
    flex: 2; 
    background-color: var(--background-color-brown);
    padding: 20px; 
}

.convictions-content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 500px;
    padding-left: 50px;
}

.convictions-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.convictions-content>p {
    color: #555;
}

.convictions-right {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex: 1; 
    height: 100%;
}

.convictions-picture {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

/* =================================================================
                            Section "Nos Valeurs"
================================================================= */

.values-container {
    display: flex;
    height: 80vh; 
}

.values-left {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; 
    height: 100%;
}

.values-picture {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.values-right {
    display: flex;
    flex: 2; 
    align-items: center; 
    justify-content: flex-end;
    background-color: var(--background-color-green);
    padding: 20px; 
}

.values-content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 530px;
    padding-right: 50px;
}

.values-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

/* =================================================================
                            Section "Détails produits"
================================================================= */

.product-detail-container {
    display: flex;
    height: 80vh; 
}

.product-detail-left {
    display: flex;
    flex: 1; 
}

.product-detail-picture {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.product-detail-right {
    display: flex;
    flex-direction: column;
    flex: 1; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-detail-content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding-left: 20px;
}

.product-detail-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 60px;
}

.product-detail-price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 50px;
}

.product-detail-description-title {
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 10px;
}

.product-detail-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 35%;
}

/* =================================================================
                            Section "Inscription"
================================================================= */


.registration-container { 
    display: flex;
    height: 100vh;
}

.banner-left, .content-right {
    width: 50%;
}

.banner-left img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right>h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    display: flex;
    text-align: left;
}

.form-right {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-description {
    margin-bottom: 2rem;
    color: #777;
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    max-width: 400px; 
}

form.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    color : #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    border: 1px solid #000000;
    width: 100%; 
    height: 50px;
    font-size: 1rem;
    background-color: var(--background-color-main);
    margin: 5px 0 20px 0;
}

input[type="checkbox"] {
    width: auto;
    display: none;
}

.btn-register {
    background-color: #007bff;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

.btn-register:hover {
    background-color: #0056b3;
}

.login-link {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: left;
    width: 100%; 
    max-width: 400px; 
    color: #777;
    text-decoration: underline;
}


.cgu-line label {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.cgu-line input:checked + label::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    background-color: #333; 
}

.cgu-line label::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin-right: 10px; 
    transition: background-color 0.2s, border-color 0.2s; 
}

/* =================================================================
                            Section "Connexion"
================================================================= */

.form-login {
    display: flex;
    justify-content: flex-start;
    color: #555;
    width: 34%;
}

/* =================================================================
                            Section "Panier"
================================================================= */

.cart-container {
    background-color: var(--background-color-second);
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 80vh; 
}

.cart-title {
    text-align: center;
}

.cart-empty-container {
    margin: 20px auto 10px;
}

.article-container,
.total-container {
    background-color: var(--background-color-main);
    margin: 20px auto 10px;
    width: 50%;
    padding: 25px;
}

.article-container {
    max-height: 400px; /* Limite la hauteur */
    overflow-y: auto;  /* Ajoute une scrollbar si le contenu dépasse la hauteur définie */
}

.total-container {
    text-align: right;
}

.cart-empty {
    text-decoration: none;
    color: #333;
}

.card-article-cart {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.card-article-cart img {
    max-width: 150px;
    margin-right: 20px;
    padding: 10px 0 0 10px;
}

.info-article-cart p {
    margin: 5px 0;
}

.cart-empty-message {
    text-align: center;
    color:  #333;
}

.total-container p {
    margin: 5px 0;
}

.confirm-order-container {
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    flex-shrink: 0;
    margin-bottom: 40px;
}

  
/* =================================================================
                            Section "Mon Compte"
================================================================= */


/* =================================================================
                            Footer
================================================================= */

footer {
    position: relative; 
    background-color: var(--background-color-footer);
    border-top: rgb(238, 238, 238) 1.5px solid;
    width: 100%; 
    margin-top: auto;
    padding: 20px 0;
    z-index: 10;
}

.info-footer { 
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

/* =================================================================
                            Responsive
================================================================= */


@media (max-width: 1024px) {
    .product-card {
        max-width: 50%; /* Deux cartes par ligne pour les écrans moyens */
    }
}

@media (max-width: 768px) {
    .product-card {
        max-width: 100%; /* Une carte par ligne pour les écrans petits */
    }

    .product-title {
        padding-left: 1em; 
    }
}