/* =================================================================
                            Style de base
================================================================= */

:root {
    --background-color-main: #FFFDF7;
    --background-color-second: #F7F1EC;
    --background-color-green: #E8F0E3;
    --background-color-brown: #EBE3D3;
    --background-color-footer: #FFFFFF;

    --title-color: #497555;

    --product-hover-color: #333333;
    --add-basket-color: #565656;
    --add-basket-hover-color: #000000;
}

html, body {
    height: 100%;
}

html {
    margin: 0;
    height: 100%;
    background-color: var(--background-color-main);
    color: black;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

ul {
    list-style-type: none;
}

ul li>a {
    text-decoration: none;
    color: black;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* =================================================================
                            Navigation
================================================================= */

#website-title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: larger;
    color: var(--title-color);
}

#website-logo {
    background: #497555;
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
    font-family: 'Playfair Display';
    margin: 10px;
    font-size: large;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: rgb(238, 238, 238) 1.5px solid;
}

.nav-right>ul {
    display: flex;
    flex-direction: row;
}

.nav-right li {
    padding-right: 3em;
}

.nav-left {
    display: flex;
    align-items: center;
}

/* =================================================================
                            Section "Bienvenue"
================================================================= */

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    background-color: var(--background-color-green);
    overflow: hidden;
}

.welcome-left {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding-left: 5%;
}

.welcome-left-content {
    max-width: 400px; 
    text-align: left;
    padding: 20px; 
}

.welcome-left h1 {
    font-size: 4rem; 
    color: #333; 
    line-height: 1.2; 
}

.welcome-left p {
    font-size: 1.2rem;
    color: #555; 
    line-height: 1.6; 
    margin-top: 20px;
}

.welcome-right {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    overflow: hidden;
}

.welcome-right .welcome-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    max-height: 100vh;
}

/* =================================================================
                            Section "Nos Produits"
================================================================= */

.product-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 35px;
    padding-left: 15em;
}


.product-cards-container {
    display: flex;
    flex-wrap: wrap;   
    flex-direction: row;
    text-align: center;
}

.product-card { 
    flex-grow: 1;
    width: 33%;
    min-height: 100%;
    box-sizing: border-box;
}

.product-card-picture {
    width: 100%;
    height: auto; 
    max-height: 500px;
    object-fit: cover;
}

.product-info {
    min-height: 200px;
    box-sizing: border-box;
}

.product-card-title {
    font-size: 16px;
    font-weight: 600;
}

.product-card-description {
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

.product-card-price {
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0;
}

.product-card-button {
    width: 100%; 
    background-color: var(--background-color-main);
    border: none; 
    padding: 37px; 
    cursor: pointer; 
    font-size: 14px; 
    margin-top: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-button:hover {
    background-color: var(--product-hover-color); 
    color: var(--background-color-second); 
    transition: 0.5s;
}


/* =================================================================
                            Footer
================================================================= */

footer {
    position: relative; 
    background-color: var(--background-color-footer);
    border-top: rgb(238, 238, 238) 1.5px solid;
    width: 100%; 
    margin-top: auto;
}

.info-footer { 
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

/* =================================================================
                            Responsive
================================================================= */


@media (max-width: 1024px) {
    .product-card {
        max-width: 50%; /* Deux cartes par ligne pour les écrans moyens */
    }
}

@media (max-width: 768px) {
    .product-card {
        max-width: 100%; /* Une carte par ligne pour les écrans petits */
    }

    .product-title {
        padding-left: 1em; 
    }
}