{% extends 'base.html.twig' %}

{% block title %}GreenGoodies | Accueil {% endblock %}

{% block body %}
    <div class="main-container">
        <div class="welcome-container">
            <div class="welcome-left">
                <div class="welcome-left-content">
                    <h1>Bienvenue</h1>
                    <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                    <br>
                    <p>Retrouvez des articles d'hygiène & beauté, des accessoires & boissons et du prêt-à-porter</p>
                </div>
            </div>

            <div class="welcome-right">
                <img class="welcome-picture" src="{{asset('../img/hero-header-picture.png') }}" alt="Hero Header">
            </div>
        </div>
        
        <div class="products-container">
            <h2 class="products-title"> Nos produits </h2>
        </div>
    </div>

{% endblock %}
