{% extends 'base/base.html.twig' %}

{% block title %}Green Goodies | Commande réussie{% endblock %}

{% block body %}
    <section class="success-container">
        <h2>{{ message }}</h2>
        <img src="{{ asset('img/success.png') }}" class="success-icon" alt="success" >
        <p>Merci de votre commande ! Restez connecté pour ne pas louper notre prochain arrivage</p>
        <div class="success-button-container">
            <a href="{{ path('app_home') }}" class="button-type-one">Retour à l'accueil</a>
        </div>
    </section>
{% endblock %}