{% extends 'base/base.html.twig' %}

{% block title %}Green Goodies | Connexion {% endblock %}

{% block body %}
    <section class="registration-container">
        <div class="banner-left">
        </div>

        <div class="form-right">
        
        </div>

    </section>
{% endblock %}
